<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control de productos</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Control de productos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/productos/nuevo" id="navbarDropdownProducto" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/productos}">Listar productos</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos/nuevo}">Agregar producto</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategoria" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Modelos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/modelos}">Listar modelos</a></li>
                        <li><a class="dropdown-item" th:href="@{/modelos/nuevo}">Agregar modelo</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMarca" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Marcas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/marcas}">Listar marcas</a></li>
                        <li><a class="dropdown-item" th:href="@{/marcas/nuevo}">Agregar marcas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<div class="container text-center">
    <form class="d-flex" th:action="@{/}">
        <div class="form-group mb-2">
            <label>Filtrar</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Digite el valor a buscar">
        </div>
            <input type="submit" class="btn btn-info mb-2" value="Buscar">
            &nbsp;&nbsp;
            <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">
    </form>
    <br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Modelos</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="marca : ${listaMarcas}">
        <th th:text="${marca.id}"></th>
        <th th:text="${marca.nombre}"></th>
        <th th:text="${marca.modelos}"></th>
        <td>
            <a class="btn btn-primary" th:href="@{'/marcas/editar/' + ${marca.id}}">Editar</a>
            <a class="btn btn-danger" th:href="@{'/marcas/eliminar/' + ${marca.id}}">Eliminar</a>

        </td>
    </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
        function limpiarCampos(){
            window.location='/';
        }
    </script>
</body>
</html>